[submodule "Arcane/vendor/glm"]
	path = Arcane/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Arcane/vendor/glfw"]
	path = Arcane/vendor/glfw
	url = https://github.com/tomheeleynz/glfw.git
[submodule "Arcane/vendor/imgui"]
	path = Arcane/vendor/imgui
	url = https://github.com/tomheeleynz/imgui.git
[submodule "Arcane/vendor/stb"]
	path = Arcane/vendor/stb
	url = https://github.com/tomheeleynz/stb.git
[submodule "Arcane/vendor/entt"]
	path = Arcane/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Arcane/vendor/json"]
	path = Arcane/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "Arcane/vendor/SPIRV-Reflect"]
	path = Arcane/vendor/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "Arcane/vendor/assimp"]
	path = Arcane/vendor/assimp
	url = https://github.com/tomheeleynz/assimp.git
